interactions:
- request:
    body: '{"api_key": "REDACTED", "query": "who is the CEO of Apple", "max_results":
      3, "search_depth": "basic"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"who is the CEO of Apple\",\"follow_up_questions\":null,\"answer\":null,\"images\":[],\"results\":[{\"url\":\"https://www.apple.com/leadership/tim-cook\",\"title\":\"Tim
        Cook - Apple Leadership\",\"content\":\"Tim Cook is the CEO of Apple and serves
        on its board of directors. Before being named CEO in August 2011, Tim was
        Apple\u2019s chief operating officer and was responsible for all of the company\u2019s
        worldwide sales and operations, including end-to-end management of Apple\u2019s
        supply chain, sales activities, and service and support in all markets and
        countries. He also headed Apple\u2019s Macintosh division and played a key
        role in the continued development of strategic reseller and supplier relationships,
        ensuring flexibility in response to an increasingly demanding marketplace.
        Prior to joining Apple, Tim was vice president of Corporate Materials for
        Compaq and was responsible for procuring and managing all of Compaq\u2019s
        product inventory. Previous to his work at Compaq, Tim was the chief operating
        officer of the Reseller Division at Intelligent Electronics. Tim also spent
        12 years with IBM, most recently as director of North American Fulfillment
        where he led manufacturing and distribution functions for IBM\u2019s Personal
        Computer Company in North and Latin America.\",\"score\":0.8763069,\"raw_content\":null},{\"url\":\"https://www.youtube.com/watch?v=u9Sy3qwthCw\",\"title\":\"Tim
        Cook Steps Down: The Man Who Made Apple a $3 ...\",\"content\":\"Tim Cook
        is stepping down after 11 consequential years as CEO of Apple, John Ternus
        will become the new CEO.\",\"score\":0.8018276,\"raw_content\":null},{\"url\":\"https://www.apple.com/newsroom/2026/04/tim-cook-to-become-apple-executive-chairman-john-ternus-to-become-apple-ceo\",\"title\":\"Tim
        Cook to become Apple Execut[...]
